body {
	font-size:11px;
	font-family:verdana,arial,sans-serif;
}
a {
	color:#FF0000;
}
.bg {
	float:left;
	width:165px;
	height:180px;
	background-repeat: no-repeat;
	border:0px solid #cccccc;
}
.info_col {
	width:160px;
	height:650px;
	border-left:1px solid #aaaaaa;
	background-color:#000000;
	color:#ffffff;
}
.redText {
	color:#FF0000;
}
.whiteText {
	color:#FFFFFF;
}
.grayText {
	color:#aaaaaa;
}
.storyPara {
	margin-bottom:10px;
}
.storyTitle {
	font-size:20px;
}
.noUnder {
	text-decoration:none;
}
.button {
	border:2px dashed #FF0000;
	text-align:center;
	padding:3px;
	text-decoration:underline;
}